<!-- About Section -->
<section id="cerimonia">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Cerimonia</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>20 Maggio 2023, ore 15:30.</p>
        <p>Chiesa di <i>San Francesco</i>, Piazza San Francesco, 3, 05029 San Gemini (TR).</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2936.2777504543697!2d12.543943515464367!3d42.61306507917066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ee5c3f5e6a077%3A0x3de741ff3d87d5bf!2sChurch%20of%20San%20Francesco!5e0!3m2!1sen!2sit!4v1678195503890!5m2!1sen!2sit" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

