<!-- Contact Section -->
<section id="contatti">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contatti</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">      
        <p><b>Maria</b></p>
        <p><i class="fa-solid fa-phone"></i> 3408372554</p>
        <p><i class="fa-solid fa-envelope"></i> <a href="mailto:marianvll91@gmail.com">marianvll91@gmail.com</a>
      </div>
      <div class="col-lg-4">
        <p><b>Niccolò</b></p>
        <p><i class="fa-solid fa-phone"></i> 3349785182</p>
        <p><i class="fa-solid fa-envelope"></i> <a href="mailto:niccolopaglialunga@gmail.com">niccolopaglialunga@gmail.com</a>
      </div>
    </div>
  </div>
</section>
