<section id="info_utili">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Info Utili</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p><b>Per chi volesse pernottare nelle vicinanze dell’Antico Casale Urbani consigliamo le seguenti strutture:</b></p>
            <p>Hotel del Ponte - 500 mt dal luogo della festa (Da prenotare direttamenta al telefono al numero <a href="tel:074361253">0743 61253</a>) </p>
            <p>Convento Santa Croce - 5 minuti di macchina (<a href="https://www.conventosantacroce.it/">https://www.conventosantacroce.it/</a>)</p>
        

            <p>Agriturismo Il Sovrano - 5 minuti di macchina (<a href="https://ristorantinoilsovrano.it/camere/">https://ristorantinoilsovrano.it/camere/</a>)</p>

            <p>Agriturismo Collelignani - 15 minuti di macchina (prenotabile tramite il sito <a href="https://www.booking.com">booking.com</a>)</p>

            <p>Hotel Gattapone - 15 minuti di macchina (prenotabile tramite il sito <a href="https://www.booking.com">booking.com</a>)</p>

            <p>Hotel Clarici - 15 minuti di macchina (<a href="https://www.hotelclarici.it/">https://www.hotelclarici.it/</a>)</p>
            
            <p><b>Dintorni</b></p>
            <p>Per chi si trattiene in zona suggeriamo i seguenti luoghi d’interesse:</p>
            <p>- Spoleto e il suo centro storico</p>
            <p>- Valnerina, i suoi borghi, la Cascata delle Marmore</p>
            <p>- Foligno, Spello, Montefalco, Trevi</p>


        </div>
      </div>
    </div>
  </section>