<!-- About Section -->
<section class="success" id="parcheggio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Parcheggio</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Consigliamo il seguente parcheggio gratuito, da cui sarà possibile raggiungere la Chiesa di San Francesco a piedi in 2 minuti.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
