<section id="parcheggio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Parcheggio</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p>Consigliamo il seguente parcheggio gratuito, da cui sarà possibile raggiungere la Chiesa di San Francesco a piedi in 2 minuti.</p>
      </div>
      <div class="col-lg-4 text-center">
        <p>In alternativa a 5 minuti a piedi dalla chiesa:</p>    
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">      
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1264.8973025148307!2d12.547521499999991!3d42.613347600000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ee5c9291701b1%3A0xfae25c07fd503733!2sParcheggio!5e0!3m2!1sen!2sit!4v1678196171592!5m2!1sen!2sit" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-lg-4 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1264.6439902026216!2d12.5461801!3d42.6121242!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ee50c8643cbdb%3A0x35dc61ca00936144!2sParcheggio%20gratuito!5e0!3m2!1sen!2sit!4v1678196368339!5m2!1sen!2sit" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
