<!-- About Section -->
<section id="regalo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Regalo</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Chi volesse contribuire alla nostra nuova vita insieme e aiutarci nella realizzazione del nostro viaggio di nozze potrà effettuare un bonifico intestato a <b>Maria Novelli</b></p> 
        <p>
          Causale: Regalo Matrimonio
          IBAN: <i>IT40N0306972530100000003268</i>
        </p>      
      </div>
    </div>
  </div>
</section>
