<!-- About Section -->
<section id="regalo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Regalo</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Chi volesse contribuire a costruire la nostra nuova famiglia e al viaggio di nozze in Africa potrà effettuare un bonifico intestato a:</p>
        <p>Maria Novelli</p>
        <p><b>Causale:</b> Regalo Matrimonio</p>
        <p><b>IBAN:</b> IT40N0306972530100000003268</p>
        <p>Banca Intesa San Paolo</p>
        <p><b>Lista nozze Amazon:</b> <a href="https://www.amazon.it/wedding/niccolò-paglialunga-maria-novelli-scheggino-may-2023/registry/KICB16J93FMG">https://www.amazon.it/wedding/niccolò-paglialunga-maria-novelli-scheggino-may-2023/registry/KICB16J93FMG</a></p>    
      </div>
    </div>
  </div>
</section>
