<!-- About Section -->
<section class="success" id="regalo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Regalo</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Chi volesse contribuire alla nostra nuova vita insieme e aiutarci nella realizzazione del nostro viaggio di nozze potrà effettuare un bonifico intestato a: 
          _Maria Novelli_
          Causale: Regalo Matrimonio
          **IBAN:  IT40N0306972530100000003268**</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
