<!-- About Section -->
<section id="RSVP">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>RSVP</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>E' gradita conferma entro il 25 Aprile</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc3HiCi2CB3x2bcadhfjcniyXrSBTSiCy8HV0C_n_DLjrUFTQ/viewform?embedded=true" width="100%" height="904" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
      </div>
    </div>
  </div>
</section>
